[submodule "aethir-nft/lib/openzeppelin-contracts"]
	path = aethir-nft/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "aethir-nft/lib/openzeppelin-contracts-upgradeable"]
	path = aethir-nft/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/openzeppelin/openzeppelin-contracts-upgradeable
